<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64611074237-21oho4uuu781t0utmboca3kchp3jq90d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64611074237-21oho4uuu781t0utmboca3kchp3jq90d</string>
	<key>API_KEY</key>
	<string>AIzaSyApEG_U0MR3Wi1jD6zWdoIKNq4lH6Exw5M</string>
	<key>GCM_SENDER_ID</key>
	<string>64611074237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MicheleManniello.WidgetsFirebase</string>
	<key>PROJECT_ID</key>
	<string>testfirebase-d79fa</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase-d79fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64611074237:ios:ecab55f1a0ceee7988f7d4</string>
	<key>DATABASE_URL</key>
	<string>https://testfirebase-d79fa-default-rtdb.firebaseio.com</string>
</dict>
</plist>